header, main, nav, footer, section, article, figure, figcaption, aside { display: block; }

#wrapper {	margin: 0 auto;
						top: 0;
          	width: 80%;
          }

#edu	{	padding: 25px;
				background-color: #DDDDDD;
}

#edu a:hover {	color: #0000FF;
								font-style: italic;
								padding-left: 5px;}

body {	background-color: #DDDDDD;

				}

header {	text-align: center;
					
		font-family: Georgia, serif;
					color: #333333;
				} 
			
main {	padding: 10px;
				overflow: auto;
				margin-left: 20px;
				margin-right: 20px;
				padding-right: 20px;
				color: #333333;
			}
.container h4 {text-align: center;}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

a, a:visited { color: #0000FF;}
a:hover {	color: #0000FF;}

h1 {font-size: 4em;	}


footer {	text-align: center; 
					font-size: 1em;
					padding: 10px;
					margin-left: 20px; 
					margin-right: 20px; }

span {	color: #654321;}